@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

* {
  margin: 0;
}


.aboutBG {
  position: relative; 
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
}

.aboutBG::before {    
    content: "";
    background-image: url(https://images.unsplash.com/photo-1535473895227-bdecb20fb157?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.innerAbout {
  color: white;
  margin: 0 auto;
  margin-bottom: 5vh;
}


.funnyText {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-family: 'Luckiest Guy', cursive;
  background-color: #3F51B5;
  /* opacity: 0.93; */
  border-radius: 20px;
  flex-direction: column;
  width: 60%;
  z-index: 0;
  padding-top: 2vh;
}

.funnyText h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 10vw;
  background-image: url(https://images.unsplash.com/photo-1606787366850-de6330128bfc?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover; 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.typeBox {
  margin: 0 auto;
  margin-bottom: 5vh;
  height: 20px;
  width: 56%;
  background-color: white;
  color: #3F51B5;
  font-size: 2vw;
  padding: 20px 15px;
  border-radius: 25px;
  border: solid #3F51B5 1px;
}
.aboutHow {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.innerAbout {
  display: flex;
  width: 100%;
}

.innerCol {
  background-color: red;
  text-align: center;
  width: 50%;
  height: 300px;
  margin: 1vw;
  padding: 1rem;
}

.choose{
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80);
  background-size: cover;
  background-position: center;
}

.recipe {
  background-image: url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
  background-size: cover;
  background-position: center;
}

.favorites {
  background-image: url(https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1969&q=80);
  background-size: cover;
  background-position: center;
}
